
*{
	margin: 0px;
	padding: 0px;
}
.footer{
    width: 100%;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    
}


.footer-bg{
    width: 100%;
    overflow: hidden;
    position: absolute;
    object-fit: fill;
    z-index: -1;
}

.footer .footer-row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 3.5rem;
    margin-top: 55px;
}   
.footer-img-sec{
    margin-left: 30px;
}
.footer-link-sec{
    margin-right: 50px;
    display: block;
}
.footer-link-sec .footer-icons{
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    color: #3690a4;
    
}
.footer-icons a{
    height: 30px;
    width: 30px;
    border: solid;
    border-radius: 30px;
    border-color: #3690a4;
    align-content: center;
}
.footer-icons img{
    padding: 5px;
}
.footer-icons h4{
    margin-top: 15px;
}
.f{
    margin-left: 5px;
}


.footer-img-sec img {
    display: block;
}
.color-logo{
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 10px;
    height: 35%;
}
.gradient-txt{
    margin-left: 40px;
    height: 30%;
}

.footer-col .links li {
    list-style: none;
    line-height: 26px;
}
.footer-col .links li a {
    text-decoration: none;
    color: black;
}
.footer-col .links li a:hover {
    color: #3690a4;

}

