*{
	margin: 0px;
	padding: 0px;
}
.header{
  height: 387px;
  width: 100%;
  position: static;
}
.header-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 20px;
}
.header-bg{
  max-height: 387px;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.logo{
  margin: 20px;
  background: transparent;
  border: none;
  height: 130px;
  cursor: pointer;
}

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background:transparent;
  top: 0;
  padding-top: 1%;
}
  
.header li {
  margin: 0 10px;
}
@font-face {
  font-family: "Cantabile";
  font-weight: 400;
  src: url('https://fonts.cdnfonts.com/s/25391/CANTRG__.woff') format('woff');
}
  
.header li a {
  font-family:Cantabile;
  font-size: 15pt;
  display: block;
  color: white;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
  margin-top: 10px;
    
  }
.header li a:hover {
  background-color: #fbb040;
  border-radius: 300px;
  transition: all 0.5s;
    
  }

@font-face {
  font-family: ClasterOleander;
  src: url(ClasterOleander.woff);
}
 

.header-text{
  font-family: ClasterOleander;
  text-align: center;
  color: white;
  width: 100%;
}
.header-text{
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: white;

}
.header-text h2{
  margin: 40px;
  font-weight: 800;
  font-size: 38pt;
}




.sec1{
  width: 100%;
  height: 850px;
}

.sec1-container{
  display: flex;
  justify-content: center;
  margin-top: 120px ;
  gap: 100px;
  height: 650px;
}

.gallery {
  display: flex;
  gap:13px;
  max-width: 50%;
  justify-content: center;
  margin-top: 15px;
}
.gallery-col1{
  margin-top: 120px;
}
.gallery-col1 img{
  float: right;
  margin-bottom: 13px;
}
.gallery-col2{
  display: block;
}
.col2-row1{
  display: flex;
  gap: 20px;
  justify-content: space-around;
  margin-bottom: 17px;
}
.gallery-logo{
  padding-top: 30px;
  height: 50%;
  width: 50%;
}
.gallery-col2 img{
  float: left;
}


.sec1-txt{
  display: block;
}
.sec1-txt h1{
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 35pt;
  line-height: 55px;
  background: -webkit-linear-gradient(#0d9fb0, #0064a2);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;


}
.sec1-txt p{
  margin-left: 10px;
  padding-top: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15pt;
  font-style: normal;
  color: black;
}





.sec2{
  width: 100%;
  height: 710px;
  
}
.card-container{
  display: flex;
  justify-content: space-around;
  width: 100%;

}
.cardbg{
  height: 580px;
  width: 680px;
  object-fit: contain;
  position: absolute;
}
.card-text{
  height: 580px;
  width: 680px;
  position: relative;
  border-radius: 20px;
}

.insurance{  
  padding: 60px;
  padding-bottom: 20px;
}
.visa{  
  padding: 65px;
  padding-bottom: 10px;
}

.card-text h2{
  margin-left: 60px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 20pt;
  font-style: normal;
  color: #0b0b0b;
}
.card-text p{
  margin-left: 60px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12pt;
  font-style: normal;
  color: #0b0b0b;
}



*{
	margin: 0px;
	padding: 0px;
}
.footer{
    width: 100%;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    
}


.footer-bg{
    width: 100%;
    overflow: hidden;
    position: absolute;
    object-fit: fill;
    z-index: -1;
}

.footer .footer-row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 3.5rem;
    margin-top: 55px;
}   
.footer-img-sec{
    margin-left: 30px;
}
.footer-link-sec{
    margin-right: 50px;
    display: block;
}
.footer-link-sec .footer-icons{
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    color: #3690a4;
    
}
.footer-icons a{
    height: 30px;
    width: 30px;
    border: solid;
    border-radius: 30px;
    border-color: #3690a4;
    align-content: center;
}
.footer-icons img{
    padding: 5px;
}
.footer-icons h4{
    margin-top: 15px;
}
.f{
    margin-left: 5px;
}


.footer-img-sec img {
    display: block;
}
.color-logo{
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 10px;
    height: 35%;
}
.gradient-txt{
    margin-left: 40px;
    height: 30%;
}

.footer-col .links li {
    list-style: none;
    line-height: 26px;
}
.footer-col .links li a {
    text-decoration: none;
    color: black;
}
.footer-col .links li a:hover {
    color: #3690a4;

}



@media screen and (max-width: 1700px) {
  .header {
      height: auto;
  }
  .header-text h2 {
      font-size: 35pt;
      margin-top: 0;
      margin-bottom: 0;
      padding-bottom: 10%;
  }
  .header li a {
      font-size: 12pt;
  }

  .color-logo{
      height: 30%;
  }
  .gradient-txt{
      margin-left: 40px;
      height: 25%;
  }
  .footer-col .links li {
      line-height: 22px;
      font-size: 10pt;
  }
  .logo{
  margin: 0px;
  height: 100px;
  }
  .sec1{
    height: auto;
  }
  .sec1-container {
    margin-left: 3%;
    margin-right: 3%;
  }
  .sec1-container img{
    height: 50%;
    width: 100%;
  }

  .sec1-txt h1 {
  font-size: 23pt;
  line-height: 40px;
  }

  .sec1-txt p {
  font-size: 11pt;
  }
  .cardbg{
    height: 80%;
  }
  .card-text p {
    font-size: 8pt;
  }
  .card-text{
    height: auto;
    width: auto;
  }
  .cardbg{
    width: 35%;
  }
  .sec2{
    height: 550px;
  }

}